
body {
    background-color: #343541;
    font-family: 'Arial', sans-serif;
    color: #d1d5db;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#chatContainer {
    max-width: 600px;
    width: 100%;
    background-color: #444654;
    border-radius: 10px;
    padding: 20px;
}

.mensaje {
    margin: 10px 0;
    padding: 15px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 1s;
}

.user {
    background-color: #10a37f;
    color: white;
    align-self: flex-start;
}

.chatgpt {
    background-color: #444654;
    color: #d1d5db;
    align-self: flex-end;
    border: 1px solid #565869;
}

.visible {
    opacity: 1;
}
